/**
* Styles for pure html layout
*/
@import 'global_styles';

// ----------------- Global styles -------------------------------------------
.upset-body {
  font-family: $font-stack;
}

.upset-body {

a:link,
a:visited {
  color: black;
}

//----------------- The heading and title bar ---------------------------------------------------

.upset-body h1 {
  font-family: $font-stack;
}

#header {

}

.header-label-left {
  margin-right: 5px;
  float: left;
  color: white;
}

#data-loading-indicator {
  padding-left: 5px;
  padding-right: 5px;
}

.header {
  color: $header-font-color;
  font-weight: bold;
  a:visited,
  a:link {
    color: $header-font-color;
    text-decoration: none;
  }
}

.header-right {
  @extend .header;
  float: right;
  padding-right: 10px;
}

.header-right-clickable {
  @extend .header-right;
  cursor: pointer;
}

#header-ds-selector {
  float: right;
  color: $font-color;
}

.button-panel {
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
}

.header-container {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: #000;
  border-bottom: 2px solid #999;

  display: block;
  height: 20px;

  color: #666;
}

.menu-container {
  padding: 5px 10px;
  background: #eee;
  border-bottom: 2px solid #999;
  display: block;
  height: 20px;

  text-align: right;
  font-size: 0.8em;
  font-style: italic;
}

.padded-container {
  padding: 20px 20px 10px;
}

// ------------ global layout --------------------------------------

html, body, .ui-container {
  height: 100%;
}

.ui-container {
  display: table;
  width: 100%;
  margin-top: -30px; /* header + menu */
  padding-top: 30px;

  min-height: 100%;
  height: auto !important;
  height: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-fader {
  position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
  // left : 0 %; /* makes the div span all the way across the viewing area */
  // top : 0 %; /* makes the div span all the way across the viewing area */
  background-color: white;
  // -moz-opacity : 0.7; /* makes the div transparent, so you have a cool overlay effect */
  // opacity : .70;
  // filter : alpha(opacity = 70);
  width: 100%;
  height: 100%;
  z-index: 90; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
}

.ui-overlay-loading {
  display: block; /* ensures it’s invisible until it’s called */
  position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
  left: 50%; /* positions the div half way horizontally */
  top: 50%; /* positions the div half way vertically */
  padding: 25px;
  z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
  color: white;
}

.ui-header {
  height: 30px;

}

.ui-menu {
  height: 50px;

}

.ui-row {
  height: 100%;
  display: table-row;
}

.ui-column {
  display: table-cell;
  vertical-align: top;
  padding-top: 10px;

  padding-left: 10px;
  padding-right: 10px;
}

.ui-column.ui-column-15 {
  width: 15%;
  min-width: 180px;
}

.ui-column.ui-column-25 {
  width: 25%;
}

.ui-column.ui-column-50 {
  width: 50%;
}

.ui-column.ui-column-60 {
  width: 60%;
}

.ui-column.ui-column-75 {
  background: yellow;
  width: 75%;
  min-width: 75%;
}

.ui-column.ui-column-100 {
  width: 100%;
}

.ui-column.ui-column-33 {
  background: pink;
  width: 33%;
}

.ui-column.ui-column-66 {
  background: lightpurple;
  width: 66%;
  min-width: 66%;
}

.ui-column.ui-layout-east {
  border-left: 1px solid #999;
}

/** ============ Configuration Panel Left ============== */
.configTable {
  padding-bottom: 10px;
  font-size: 12px;
  display: inline-block;
  float: left;
  clear: both;
}

.option {
}

.option:hover {
}

.configHeader {
  font-weight: bold;
  padding-bottom: .2em;
}

.configH1 {
  font-weight: bold;
  // padding: .2em;
  //  background-color: $group-background-color;
}

#dataset-info-viewer {
  @extend .configTable;
  color: white;
  background-color: $set-circle-included-color;
  padding: .4em;

  a:link,
  a:visited {
    color: white;
  }
}

}
