.body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: gray;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 0.6em;
}

.setSize {
    fill: #078600;
}

.setSize:hover {
    fill: orange;
}

.setLabel {
    dominant-baseline: middle;
    font: 12px sans-serif;
    cursor: s-resize
    /* writing-mode: bt-lr;*/
}

.setLabel:hover {

}

.setSizeLabel {
    dominant-baseline: middle;
    font: 13px sans-serif;
    text-anchor: middle;
}

.labelBackground {
    fill: #d3d3d3;
}

.labelBackground:hover {
    fill: rgba(145, 145, 145, 0.88);
    cursor: s-resize
}


.expectedValueDeviation.positive {
    fill: steelblue;
}

.expectedValueDeviation.negative {
    fill: brown;
}