.body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: gray;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 0.6em;
}

/** The set size bar */
.setSize {
    fill: lightgray;
}

/** The subSet size bar */
.subSetSize {
    fill: #078600;
}

.subSetSize:hover {
    fill: orange;
}

/** The labels for the vertical set names */
.setLabel {
    dominant-baseline: middle;
    font: 12px sans-serif;
    cursor: s-resize
    /* writing-mode: bt-lr;*/
}

.setLabel:hover {

}

.columnLabel {
    dominant-baseline: central;
    font: 13px sans-serif;
    text-anchor: middle;
    cursor: s-resize;
}

.labelBackground {
    fill: #d3d3d3;
}

.labelBackground:hover {
    fill: rgba(145, 145, 145, 0.88);
    cursor: s-resize;
}


.expectedValueDeviation.positive {
    fill: steelblue;
}

.expectedValueDeviation.negative {
    fill: brown;
}