body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div #sortIntersect{
    float: right;
}

.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
    box-shadow:inset 0px 1px 0px 0px #9acc85;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
    background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
    background-color:#74ad5a;
    border:1px solid #3b6e22;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
    background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
    background-color:#68a54b;
}
.myButton:active {
    position:relative;
    top:1px;
}


#header{
    padding:10px 10px 10px 10px;
}
.axis path,
.axis line {
    fill: none;
    stroke: gray;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 0.6em;
}

/** The set size bar */
.setSize {
    fill: #756bb1;
}

/** The subSet size bar */
.subSetSize {
    fill: #078600;
}

.subSetSize:hover {
    fill: orange;
}

/** The labels for the vertical set names */
.setLabel {
    dominant-baseline: middle;
    font: 12px sans-serif;
    cursor: s-resize
    /* writing-mode: bt-lr;*/
}

.setLabel:hover {

}

.columnLabel {
    dominant-baseline: central;
    font: 13px sans-serif;
    text-anchor: middle;
    cursor: s-resize;
}

.labelBackground {
    fill: #d3d3d3;
}

.labelBackground:hover {
    fill: rgba(145, 145, 145, 0.88);
    cursor: s-resize;
}

.expectedValueDeviation.positive {
    fill: steelblue;
}

.expectedValueDeviation.negative {
    fill: brown;
}

.connection {
   /* stroke: #333333;*/
    /*stroke-width: 1;*/
    fill: #f0f0f0;
}